$source-code-font: monospace;
$paste-padding-top: 2px;

.page-paste {
    #style {
        float: right;
        height: 30px;
        padding-left: 5px;
        @media screen and (max-width: $mobile-width) {
            display: none;
        }
    }

    &.markdown {
        #container {
            width: 960px;
            margin-left: auto;
            margin-right: auto;
        }
    }

    #container {
        width: auto;

        $margin: 100px;
        margin-left: $margin;
        margin-right: $margin;

        @media screen and (max-width: $mobile-width) {
            width: auto;
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
            padding-left: 0;
            padding-right: 0;
        }
    }

    .line-numbers {
        font-family: $source-code-font;
        padding: $paste-padding-top 0;
        /* color comes from the pygments styles */
        border-right-width: 1px;
        border-right-style: solid;

        float: left;
        line-height: 1.25em;
        text-align: right;

        a {
            cursor: pointer;
            display: block;
            text-decoration: none;
            padding-left: 8px;
            padding-right: 5px;
        }
    }

    &.diff-side-by-side {
        #paste {
            .text-container:nth-child(3) {
                display: none;
            }
        }
    }

    &.diff-unified {
        #paste {
            .text-container:nth-child(1), .text-container:nth-child(2) {
                display: none;
            }

            .text-container:nth-child(3) {
                /* This is super janky... */
                border-left: none;
            }
        }
    }

    .text.plain-text {
        font-family: $source-code-font;
        padding: $paste-padding-top 0;
        overflow-x: auto;

        pre, code {
            font-family: $source-code-font;
        }

        .chroma {
            // Allow width to expand to match content so block element
            // children (e.g. lines) extend the full width.
            display: inline-block;
            min-width: 100%;
            line-height: 125%;

            span.line {
                padding-left: 5px;
                display: block;
            }
        }
    }

    .text.rich-text {
        background-color: white !important;
        font-size: 15px;

        padding: 24px;
        line-height: 1.5em;
        color: #111;

        & > *:first-child {
            margin-top: 0 !important;
        }

        h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
            margin-top: 26px;
        }

        h1 { font-size: 28px; }
        h1, h2 {
            border-bottom: solid 1px #eee;
            padding-bottom: 16px;
            margin-bottom: 14px;
        }
        h2 { font-size: 24px; }
        h3 { font-size: 18px; }
        h4 { font-size: 16px; }
        h5 { font-size: 14px; }
        h6 { font-size: 14px; color: #777; }

        blockquote {
            color: #555;
            padding: 0 15px;
            border-left: solid 5px #ddd;
        }

        $source-code-bg-color: #f6f6f6;

        pre {
            font-family: $source-code-font;
            overflow-x: auto;
            background-color: $source-code-bg-color;
            padding: 14px;
            margin-bottom: 10px;
        }

        code {
            font-family: $source-code-font;
            padding: 3px 6px;
            font-size: 12px;
            background-color: $source-code-bg-color;
            border-radius: 2px;
        }

        a {
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        ul, ol {
            padding-left: 35px;

            li {
                display: list-item;
                margin: 5px 0;
            }
        }

        ul {
            list-style: disc;
        }

        ol {
            list-style: decimal;

            li {
                padding-left: 5px;
            }
        }

        td, th {
            border: solid 1px #ddd;
            padding: 8px;
        }

        th {
            font-weight: bold;
            background-color: #f1f1f1;
        }

        img {
            max-width: 100%;
        }
    }
}
