/venv

*.py[cod]
*.egg
*.egg-info

/.coverage
/.coverage.*
/.tox
/.cache
/dist
/build
/cli/dist
/cli/build
/tmp
/settings.py

/fluffy/static/app.css
/fluffy/static/js/icons.js
/fluffy/static/js/icons.debug.js
/fluffy/static/**/*.hash
