*.egg
*.egg-info
*.py[cod]
/*.build
/*.buildinfo
/*.changes
/*.deb
/.coverage
/.coverage.*
/.pytest_cache
/.tox
/build
/dist
/fluffy/static/**/*.hash
/fluffy/static/app.css
/fluffy/static/pygments.css
/settings.py
/server/static/app.css
/server/static/app.css.map
/tmp
/venv
