boto3==1.18.64
botocore==1.21.64
cached-property==1.5.2
click==8.0.3
csscompressor==0.9.5
cssselect==1.1.0
Flask==2.0.2
identify==2.3.0
itsdangerous==2.0.1
Jinja2==3.0.2
jmespath==0.10.0
lxml==4.6.3
MarkupSafe==2.0.1
mistune==0.8.4
Pygments==2.3.1
pygments-ansi-color==0.0.6
pygments-solarized-style==0.1
pyquery==1.4.3
python-dateutil==2.8.2
s3transfer==0.5.0
six==1.16.0
urllib3==1.26.7
Werkzeug==2.0.2
