boto3
cached_property
csscompressor
flask
identify
mistune
pygments-ansi-color>=0.0.3
pygments-style-solarized
# Avoid Pygments 2.4 for now because it identifies everything as "TeraTermLexer".
pygments<2.3.999
pyquery
