absl-py==0.15.0
astunparse==1.6.3
boto3==1.21.37
botocore==1.24.37
cached-property==1.5.2
cachetools==5.0.0
certifi==2021.10.8
charset-normalizer==2.0.12
click==8.1.2
csscompressor==0.9.5
cssselect==1.1.0
Flask==2.1.1
flatbuffers==1.12
gast==0.4.0
google-auth==2.6.3
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.34.1
guesslang==2.2.1
h5py==3.1.0
identify==2.4.12
idna==3.3
importlib-metadata==4.11.3
itsdangerous==2.1.2
Jinja2==3.1.1
jmespath==1.0.0
keras-nightly==2.5.0.dev2021032900
Keras-Preprocessing==1.1.2
lxml==4.8.0
Markdown==3.3.6
MarkupSafe==2.1.1
mistune==0.8.4
numpy==1.19.5
oauthlib==3.2.0
opt-einsum==3.3.0
protobuf==3.20.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
Pygments==2.11.2
pygments-ansi-color==0.0.6
pygments-solarized-style==0.1
pyquery==1.4.3
python-dateutil==2.8.2
requests==2.27.1
requests-oauthlib==1.3.1
rsa==4.8
s3transfer==0.5.2
setuptools==62.1.0
six==1.15.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.5.0
tensorflow-estimator==2.5.0
termcolor==1.1.0
typing-extensions==3.7.4.3
urllib3==1.26.9
Werkzeug==2.1.1
wheel==0.37.1
wrapt==1.12.1
zipp==3.8.0
