attrs==21.4.0
bleach==5.0.0
cffi==1.15.0
cfgv==3.3.1
commonmark==0.9.1
coverage==6.3.2
coverage-enable-subprocess==1.0
coveralls==3.3.1
cryptography==39.0.1
distlib==0.3.4
docopt==0.6.2
docutils==0.18.1
ephemeral-port-reserve==1.1.4
filelock==3.6.0
gunicorn==20.1.0
iniconfig==1.1.1
jeepney==0.8.0
keyring==23.5.0
libsass==0.21.0
nodeenv==1.6.0
packaging==21.3
pkginfo==1.8.2
platformdirs==2.5.1
pluggy==1.0.0
pre-commit==2.18.1
py==1.11.0
pycparser==2.21
pyparsing==3.0.8
pytest==7.1.1
PyYAML==6.0
readme-renderer==34.0
requests-toolbelt==0.9.1
requirements-tools==2.0.0
rfc3986==2.0.0
rich==12.2.0
SecretStorage==3.3.1
toml==0.10.2
tomli==2.0.1
twine==4.0.0
virtualenv==20.14.1
webencodings==0.5.1
