attrs==21.2.0
backports.entry-points-selectable==1.1.0
bleach==4.1.0
certifi==2021.10.8
cffi==1.15.0
cfgv==3.3.1
charset-normalizer==2.0.7
colorama==0.4.4
coverage==5.5
coverage-enable-subprocess==1.0
coveralls==3.2.0
cryptography==35.0.0
distlib==0.3.3
docopt==0.6.2
docutils==0.17.1
ephemeral-port-reserve==1.1.4
filelock==3.3.1
gunicorn==20.1.0
idna==3.3
importlib-metadata==4.8.1
iniconfig==1.1.1
jeepney==0.7.1
keyring==23.2.1
libsass==0.21.0
nodeenv==1.6.0
packaging==21.0
pkginfo==1.7.1
platformdirs==2.4.0
pluggy==1.0.0
pre-commit==2.15.0
py==1.10.0
pycparser==2.20
pyparsing==2.4.7
pytest==6.2.5
PyYAML==6.0
readme-renderer==30.0
requests==2.26.0
requests-toolbelt==0.9.1
requirements-tools==2.0.0
rfc3986==1.5.0
SecretStorage==3.3.1
setuptools==58.2.0
toml==0.10.2
tqdm==4.62.3
twine==3.4.2
virtualenv==20.8.1
webencodings==0.5.1
zipp==3.6.0
