boto3==1.9.32
botocore==1.12.32
cached-property==1.5.1
Click==7.0
cssselect==1.0.3
docutils==0.14
Flask==1.0.2
identify==1.1.7
itsdangerous==0.24
Jinja2==2.10
jmespath==0.9.3
lxml==4.2.5
MarkupSafe==1.0
mistune==0.8.4
Pygments==2.2.0
pygments-ansi-color==0.0.2
pygments-style-solarized==0.1.1
pyquery==1.4.0
python-dateutil==2.7.4
s3transfer==0.1.13
six==1.11.0
urllib3==1.24
venv-update==3.1.1
Werkzeug==0.14.1
