html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.page-details .file-holder {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.page-details .file-holder:last-child {
  margin-bottom: 0;
}
.page-details .file {
  width: 100%;
  background-color: #F3FFE2;
  border-radius: 5px;
  position: relative;
}
.page-details .file.image {
  min-width: 70%;
  width: auto;
}
.page-details .file.image .filename {
  justify-content: center;
}
.page-details .file .filename {
  align-items: center;
  display: flex;
  padding: 10px 15px;
  font-size: 19px;
  overflow-x: hidden;
  white-space: nowrap;
}
.page-details .file .filename img {
  vertical-align: middle;
  margin-right: 5px;
}
.page-details .file .image-holder {
  text-align: center;
}
.page-details .file .image-holder img {
  max-width: 100%;
  background-position: 0px 0px, 10px 10px;
  background-size: 20px 20px;
  background-image: linear-gradient(45deg, #eee 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), linear-gradient(45deg, #eee 25%, white 25%, white 75%, #eee 75%, #eee 100%);
}
.page-details .file .metadata-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.page-details .file .metadata-bar .buttons, .page-details .file .metadata-bar .filesize {
  padding: 10px 15px;
}
.page-details .file .metadata-bar .buttons {
  flex-grow: 1;
  text-align: right;
}
.page-details .download, .page-details .view-paste {
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  color: white;
  text-decoration: none;
}
.page-details .view-paste {
  background-color: #1695A3;
}
.page-details .download {
  background-color: #EB7F00;
}

.page-home .switch-modes {
  text-align: center;
  margin-bottom: 15px;
}
.page-home .switch-modes a {
  text-decoration: none;
  cursor: pointer;
  color: #EB7F00;
}
.page-home #file-holder {
  position: relative;
  padding: 15px;
  background-color: #F3FFE2;
  border-radius: 3px;
}
.page-home.start-on-paste #file-holder {
  display: none;
}
.page-home #oldBrowserMessage {
  display: none;
}
.page-home #basicFormFile {
  padding: 5px;
  border: solid 1px #CCC;
}
.page-home #files li {
  background-color: #FFE6B3;
  margin-bottom: 10px;
  position: relative;
  height: 42px;
}
.page-home #files li .progress {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  background-color: #FFD694;
  width: 0%;
  z-index: 1;
}
.page-home #files li img {
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 10;
}
.page-home #files li .title {
  position: absolute;
  left: 40px;
  top: 14px;
  z-index: 10;
}
.page-home #files li .remove {
  position: absolute;
  right: 8px;
  top: 8px;
  bottom: 8px;
  z-index: 10;
  display: block;
  padding: 0px 10px;
  padding-top: 5px;
  cursor: pointer;
  background-color: #FFD694;
}
.page-home #dropZone {
  position: relative;
  border: dashed 4px #EB7F00;
  padding: 35px 20px;
  text-align: center;
  font-size: 26px;
  font-weight: bold;
  color: #EB7F00;
  margin-bottom: 10px;
  background-color: #F3FFE2;
  transition: background-color 100ms linear;
}
.page-home #dropZone input {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  opacity: 0;
}
.page-home #upload, .page-home #selectFile, .page-home .pasteButton {
  display: block;
  cursor: pointer;
  border-radius: 3px;
  padding: 10px;
  text-align: center;
  color: white;
  transition: background-color 0.1s;
}
.page-home #upload {
  background-color: #1695A3;
  margin-bottom: 15px;
  display: none;
}
.page-home #upload:hover {
  background-color: #27acbb;
}
.page-home #statusText {
  text-align: center;
  font-size: 12px;
  line-height: 1.2em;
  margin-bottom: 0px;
  display: none;
}
.page-home #selectFile, .page-home .pasteButton {
  background-color: #EB7F00 !important;
}
.page-home #selectFile:hover, .page-home .pasteButton:hover {
  background-color: #ff8e08 !important;
}
.page-home .hiddenFileInput {
  display: none;
}
.page-home #loading {
  background-image: url("/static/img/loading-32.gif");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  display: none;
}
.page-home #loading p {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  margin-top: 23px;
  text-align: center;
  font-size: 12px;
}
.page-home.start-on-paste .pastebinForm {
  display: block;
}
.page-home.start-on-paste #container {
  width: 960px;
}
@media screen and (max-width: 767px) {
  .page-home.start-on-paste #container {
    width: auto;
  }
}
.page-home .pastebinForm {
  display: none;
  padding: 15px;
  background-color: #F3FFE2;
  border-radius: 3px;
}
.page-home .pastebinForm textarea {
  box-sizing: border-box;
  border: solid 1px #efefef;
  font-family: monospace;
  padding: 5px;
  width: 100%;
  height: 600px;
}
.page-home .pastebinForm #pastedTwoText {
  display: flex;
  column-gap: 10px;
}
.page-home .pastebinForm #pastedTwoText textarea {
  flex: 1;
}
.page-home .pastebinForm select {
  box-sizing: border-box;
  padding: 3px;
  width: 100%;
}
.page-home .pastebinForm .pasteButton {
  display: block;
  width: 100%;
  font-size: 100%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background: none;
  border: none;
  cursor: pointer;
}
.page-home .pastebinForm .pasteButton:disabled {
  background-color: #ffd694 !important;
  color: #676767;
  transition: background-color 0.1s;
  cursor: default;
}
.page-home #recent-uploads {
  padding: 15px;
  background-color: #e0feff;
  border-radius: 3px;
  margin-top: 10px;
}
.page-home #recent-uploads h3 {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 15px;
}
.page-home #recent-uploads #recent-uploads-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 50px;
  column-gap: 10px;
}
.page-home #recent-uploads #recent-uploads-grid a {
  display: block;
  background-color: #f8ffff;
  border-radius: 5px;
  padding: 10px;
  color: black;
  text-decoration: none;
}
.page-home #recent-uploads #recent-uploads-grid a:hover {
  background-color: #fff7e6;
}
.page-home #recent-uploads #recent-uploads-grid a.recent-uploads-item {
  overflow: hidden;
}
.page-home #recent-uploads #recent-uploads-grid a.recent-uploads-item img {
  float: left;
  margin-right: 5px;
}
.page-home #recent-uploads #recent-uploads-grid a.recent-uploads-item .recent-uploads-text {
  font-size: 12px;
  color: #9f9f9f;
  line-height: 1.2em;
}
.page-home #recent-uploads #recent-uploads-grid a.recent-uploads-item .recent-uploads-text strong {
  color: black;
}
.page-home #recent-uploads #recent-uploads-grid a.recent-uploads-item .recent-uploads-text .nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.page-home #recent-uploads #recent-uploads-grid a.recent-uploads-more {
  text-align: center;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  grid-column-start: 4;
}

.page-markdown #container {
  width: 960px;
}
.page-markdown .text {
  background-color: white !important;
  font-size: 15px;
  padding: 24px;
  line-height: 1.5em;
  color: #111;
}
.page-markdown .text > *:first-child {
  margin-top: 0 !important;
}
.page-markdown .text h1, .page-markdown .text h2, .page-markdown .text h3, .page-markdown .text h4, .page-markdown .text h5, .page-markdown .text h6 {
  font-weight: bold;
  margin-top: 26px;
}
.page-markdown .text h1 {
  font-size: 28px;
}
.page-markdown .text h1, .page-markdown .text h2 {
  border-bottom: solid 1px #eee;
  padding-bottom: 16px;
  margin-bottom: 14px;
}
.page-markdown .text h2 {
  font-size: 24px;
}
.page-markdown .text h3 {
  font-size: 18px;
}
.page-markdown .text h4 {
  font-size: 16px;
}
.page-markdown .text h5 {
  font-size: 14px;
}
.page-markdown .text h6 {
  font-size: 14px;
  color: #777;
}
.page-markdown .text blockquote {
  color: #555;
  padding: 0 15px;
  border-left: solid 5px #ddd;
}
.page-markdown .text pre {
  font-family: "Source Code Pro", monospace;
  overflow-x: auto;
  background-color: #f6f6f6;
  padding: 14px;
  margin-bottom: 10px;
}
.page-markdown .text code {
  font-family: "Source Code Pro", monospace;
  padding: 3px 6px;
  font-size: 12px;
  background-color: #f6f6f6;
  border-radius: 2px;
}
.page-markdown .text a {
  text-decoration: none;
}
.page-markdown .text a:hover {
  text-decoration: underline;
}
.page-markdown ul, .page-markdown ol {
  padding-left: 35px;
}
.page-markdown ul li, .page-markdown ol li {
  display: list-item;
  margin: 5px 0;
}
.page-markdown ul {
  list-style: disc;
}
.page-markdown ol {
  list-style: decimal;
}
.page-markdown ol li {
  padding-left: 5px;
}
.page-markdown td, .page-markdown th {
  border: solid 1px #ddd;
  padding: 8px;
}
.page-markdown th {
  font-weight: bold;
  background-color: #f1f1f1;
}
.page-markdown img {
  max-width: 100%;
}

.page-paste #style {
  float: right;
  height: 30px;
  padding-left: 5px;
}
@media screen and (max-width: 767px) {
  .page-paste #style {
    display: none;
  }
}
.page-paste #container {
  width: auto;
  margin-left: 100px;
  margin-right: 100px;
}
@media screen and (max-width: 767px) {
  .page-paste #container {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
.page-paste #paste {
  font-family: "Source Code Pro", monospace;
}
.page-paste #paste .line-numbers {
  padding: 2px 0;
  /* color comes from the pygments styles */
  border-right-width: 1px;
  border-right-style: solid;
  float: left;
  line-height: 1.25em;
  text-align: right;
}
.page-paste #paste .line-numbers a {
  cursor: pointer;
  display: block;
  text-decoration: none;
  padding-left: 8px;
  padding-right: 5px;
}
.page-paste #paste .text {
  padding: 2px 0;
  overflow-x: auto;
}
.page-paste #paste .text .highlight {
  display: inline-block;
  min-width: 100%;
}
.page-paste #paste .text .highlight > pre {
  line-height: 125%;
}
.page-paste #paste .text .highlight > pre > span {
  padding-left: 5px;
  display: block;
}
.page-paste.diff-side-by-side #paste .text-container:nth-child(3) {
  display: none;
}
.page-paste.diff-unified #paste .text-container:nth-child(1), .page-paste.diff-unified #paste .text-container:nth-child(2) {
  display: none;
}
.page-paste.diff-unified #paste .text-container:nth-child(3) {
  /* This is super janky... */
  border-left: none;
}

.page-paste .paste-toolbar, .page-markdown .paste-toolbar {
  background-color: #e0e0e0;
  padding: 8px;
  font-size: 14px;
  color: #333;
}
.page-paste .paste-toolbar .info, .page-markdown .paste-toolbar .info {
  float: left;
  margin-top: 8px;
  margin-left: 5px;
}
.page-paste .paste-toolbar input[type=submit].button, .page-markdown .paste-toolbar input[type=submit].button {
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  line-height: 14px;
}
.page-paste .paste-toolbar .button, .page-markdown .paste-toolbar .button {
  float: right;
  margin-left: 8px;
}
.page-paste .paste-toolbar .button:hover, .page-markdown .paste-toolbar .button:hover {
  opacity: 0.8;
}
.page-paste .paste-toolbar .button, .page-paste .paste-toolbar .pill-buttons .option, .page-markdown .paste-toolbar .button, .page-markdown .paste-toolbar .pill-buttons .option {
  font-size: 14px;
  background-color: #f3f3f3 !important;
  text-decoration: none;
  color: #333;
  padding: 8px;
}
.page-paste .paste-toolbar .pill-buttons, .page-markdown .paste-toolbar .pill-buttons {
  display: flex;
  padding-left: 12px;
}
.page-paste .paste-toolbar .pill-buttons .option, .page-markdown .paste-toolbar .pill-buttons .option {
  padding: 8px 10px;
  border-right: solid 1px #bbb;
}
.page-paste .paste-toolbar .pill-buttons .option.selected, .page-markdown .paste-toolbar .pill-buttons .option.selected {
  background-color: #b8b8b8 !important;
  color: white;
  text-shadow: 1px 1px rgba(157, 157, 157, 0.7215686275);
}
.page-paste .paste-toolbar .pill-buttons .option.not-selected, .page-markdown .paste-toolbar .pill-buttons .option.not-selected {
  cursor: pointer;
}
.page-paste .paste-toolbar .pill-buttons .option.not-selected:hover, .page-markdown .paste-toolbar .pill-buttons .option.not-selected:hover {
  opacity: 0.8;
}
.page-paste .paste-toolbar .pill-buttons .option:first-child, .page-markdown .paste-toolbar .pill-buttons .option:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.page-paste .paste-toolbar .pill-buttons .option:last-child, .page-markdown .paste-toolbar .pill-buttons .option:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-right: none;
}
.page-paste #paste, .page-markdown #paste {
  font-size: 14px;
  position: relative;
  background-color: white;
  display: flex;
}
.page-paste #paste .text-container, .page-markdown #paste .text-container {
  border-left: solid 1px #333;
  flex: 1;
  min-width: 0; /* https://css-tricks.com/flexbox-truncated-text/ */
}
.page-paste #paste .text-container:first-child, .page-markdown #paste .text-container:first-child {
  border-left: none;
}

.page-upload-history #container {
  width: 540px;
}
.page-upload-history .content {
  padding: 15px;
  background-color: white;
  border-radius: 3px;
  color: #222;
}
.page-upload-history .content h2 {
  text-align: center;
  font-size: 22px;
  font-weight: bold;
}
.page-upload-history .content p {
  line-height: 1.3em;
  font-size: 14px;
}
.page-upload-history #history .entry {
  position: relative;
  margin-bottom: 10px;
  padding: 15px;
}
.page-upload-history #history .entry.paste p {
  margin-bottom: 0px;
}
.page-upload-history #history .entry .fill {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #f3fdfd;
  border-radius: 5px;
  z-index: 0;
}
.page-upload-history #history .entry .fill:hover {
  opacity: 0.7;
}
.page-upload-history #history .entry .grid {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 10px;
  /* TODO: implement this
  .remove {
      cursor: pointer;
      padding: 5px;
      border-radius: 3px;
      color: #555;
      background-color: #e1f9f9;
      font-size: 20px;
      height: 20px;

      text-align: center;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: column;
  }
  */
}
.page-upload-history #history .entry .grid * {
  z-index: 1;
}
.page-upload-history #history .entry .grid .details {
  pointer-events: none;
  overflow: hidden;
}
.page-upload-history #history .entry .grid .details strong {
  font-weight: bold;
  color: black;
}
.page-upload-history #history .entry .grid .details ul.file-list {
  margin: 20px;
  margin-bottom: 10px;
}
.page-upload-history #history .entry .grid .details ul.file-list li {
  margin-bottom: 10px;
}
.page-upload-history #history .entry .grid .details ul.file-list li:last-child {
  margin-bottom: 0;
}
.page-upload-history #history .entry .grid .details ul.file-list li .name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.2em;
  padding-top: 6px;
}
.page-upload-history #history .entry .grid .details ul.file-list li img {
  float: left;
  margin-right: 5px;
}
.page-upload-history #no-upload-history {
  text-align: center;
  font-size: 18px;
  margin: 30px;
}
.page-upload-history #clear-history {
  display: inline-block;
  color: white;
  cursor: pointer;
  padding: 10px 30px;
  font-size: 16px;
  border-radius: 5px;
  background-color: #EB7F00;
  transition: background-color 0.1s;
}
.page-upload-history #clear-history:hover {
  background-color: #ff8e08;
}

body {
  background-color: #005178;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

p.error {
  font-size: 14px;
  line-height: 1.4em;
  text-align: center;
  color: #B20000;
}

.center {
  text-align: center;
}

.clearfix {
  clear: both;
}

.hidden {
  display: none !important;
}

#container {
  width: 680px;
  margin: 100px auto;
  margin-bottom: 35px;
  padding: 20px;
  border-radius: 5px;
  background-color: #ACF0F2;
}
@media screen and (max-width: 767px) {
  #container {
    width: auto;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    border-radius: 0;
  }
}

h1, h2, h3, h4, h5, p, table {
  margin-bottom: 10px;
}

h1.site-header {
  text-align: center;
  font-size: 72px;
  font-weight: bold;
  font-family: "Josefin Slab", "Open Sans", Helvetica, Arial, sans-serif;
  margin-bottom: 15px;
  color: #1695A3;
}

h1 a {
  text-decoration: none;
  color: #1695A3;
}

.footer,
.footer p {
  text-align: center;
  font-size: 12px;
  line-height: 1.7em;
  margin-bottom: 30px;
  color: #7EA9AD;
  padding: 0 20px;
}

.footer a {
  color: #5E8C90;
  text-decoration: none;
}

a.report {
  opacity: 0.5;
}

.footer a:hover {
  color: #89C2C7;
}

/*# sourceMappingURL=app.css.map */
