<!doctype html>
<html class="page-{{page_name}} {{extra_html_classes}}">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>{{branding}}</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Slab:700|Open+Sans:wght@400;700" />
        <link rel="stylesheet" href="{{asset_url('app.css')}}" />
        <link rel="icon" href="{{asset_url('img/favicon.ico')}}" />

        {# This is fairly minimal inlined JS that the rest of the page might rely on early (before rendering has completed). #}
        {{inline_js('base.js')}}

        {% block extra_head %}{% endblock %}
    </head>

    <body>
        <div id="container">
            <div id="content">
                <h1 class="site-header"><a href="{{home_url}}">{{branding}}</a></h1>
                {% block content %}{% endblock %}
            </div>
        </div>

        {% if custom_footer_html is not none %}
            <div class="footer custom-footer">
                {{custom_footer_html|safe}}
            </div>
        {% endif %}

        <p class="footer">
            fluffy v{{fluffy_version}} is free and open-source software, available for you <a href="https://github.com/chriskuehl/fluffy">on GitHub</a>.<br />
            Icons generously provided by <a href="http://www.fatcow.com/free-icons">FatCow</a>.<br />
            <a class="report" href="mailto:{{abuse_contact}}">Report Abuse</a>
        </p>

        {% block inline_js %}{% endblock %}
    </body>
</html>

<!-- vim: ft=jinja
-->
