$source-code-font: 'Source Code Pro', monospace;

.page-markdown {
    #container {
        width: 960px;
    }

    .text {
        padding: 10px;
        line-height: 1.4em;

        h1, h2, h3, h4, h5, h6 {
            font-weight: bold;
        }

        h1 { font-size: 28px; }
        h2 { font-size: 24px; }
        h3 { font-size: 18px; }
        h4 { font-size: 16px; }
        h5 { font-size: 14px; }
        h6 { font-size: 14px; color: #777; }

        pre {
            font-family: $source-code-font;
            overflow-x: auto;
            border: solid 3px #eee;
            padding: 5px;
        }

        code {
            font-family: $source-code-font;
            padding: 2px 4px;
            font-size: 12px;
            background-color: #eee;
            border-radius: 2px;
        }
    }
}
