.page-paste {
    #paste {
        font-family: 'Source Code Pro', monospace;

        $paste-padding-top: 2px;

        .line-numbers {
            padding: $paste-padding-top 0;

            background-color: #fafafa;
            border-right: solid 1px #eee;

            float: left;
            line-height: 1.25em;
            text-align: right;
            margin-right: 5px;


            a {
                cursor: pointer;
                display: block;
                color: #222;
                text-decoration: none;
                padding-left: 8px;
                padding-right: 5px;

                &:hover {
                    background-color: #ffeaaf !important;
                }

                &.selected {
                    background-color: #ffe18e;
                }
            }
        }

        .text {
            padding: $paste-padding-top 0;
            border: solid 1px #efefef;
            background-color: #fff;

            pre {
                overflow-x: auto;
            }
        }
    }
}
