.page-paste {
    #container {
        width: auto;

        $margin: 100px;
        margin-left: $margin;
        margin-right: $margin;
    }

    #paste {
        font-family: 'Source Code Pro', monospace;

        $paste-padding-top: 2px;

        .line-numbers {
            padding: $paste-padding-top 0;

            background-color: #fafafa;
            border-right: solid 1px #eee;

            float: left;
            line-height: 1.25em;
            text-align: right;


            a {
                cursor: pointer;
                display: block;
                color: #222;
                text-decoration: none;
                padding-left: 8px;
                padding-right: 5px;

                &:hover {
                    background-color: #ffeaaf !important;
                }

                &.selected {
                    background-color: #ffe18e;
                }
            }
        }

        .text {
            padding: $paste-padding-top 0;
            border: solid 1px #efefef;
            background-color: #fff;

            pre {
                overflow-x: auto;
            }

            .highlight > pre {
                // These are line spans (sadly, no class is output by pygments)
                & > span {
                    padding-left: 5px;
                    display: block;

                    &.selected {
                        background-color: #fff3d3;
                    }

                    &.diff-add {
                        background-color: #e2ffe2;

                        &.selected {
                            background-color: #e8ffbc;
                        }
                    }

                    &.diff-remove {
                        background-color: #ffe5e5;

                        &.selected {
                            background-color: #ffdfbf;
                        }
                    }
                }
            }
        }
    }
}
