.page-paste {
    .paste-toolbar {
        background-color: #e0e0e0;
        padding: 8px;
        font-size: 14px;
        color: #333;

        .info {
            float: left;
            margin-top: 8px;
            margin-left: 5px;
        }

        input[type=submit].button {
            background: none;
            border: none;
            cursor: pointer;
            font-family: "Open Sans", Helvetica, Arial, sans-serif;
            line-height: 14px;
        }

        .button {
            float: right;
            font-size: 14px;
            background-color: #f3f3f3 !important;
            margin-left: 8px;
            padding: 8px;
            text-decoration: none;
            color: #333;

            &:hover {
                opacity: 0.8;
            }
        }
    }

    #container {
        width: 960px;
    }

    $paste-padding-top: 2px;

    #paste {
        font-family: 'Source Code Pro', monospace;
        font-size: 14px;
        position: relative;

        .line-numbers {
            padding: $paste-padding-top 0;

            background-color: #fafafa;
            border-right: solid 1px #eee;

            float: left;
            line-height: 1.25em;
            text-align: right;
            margin-right: 5px;


            a {
                cursor: pointer;
                display: block;
                color: #222;
                text-decoration: none;
                padding-left: 8px;
                padding-right: 5px;

                &:hover {
                    background-color: #ffeaaf !important;
                }

                &.selected {
                    background-color: #ffe18e;
                }
            }
        }

        .text {
            padding: $paste-padding-top 0;
            border: solid 1px #efefef;
            background-color: #fff;
        }
    }
}
