.page-upload-history {
    #container {
        width: 540px;
    }

    .content {
        padding: 15px;
        background-color: white;
        border-radius: 3px;
        color: #222;

        h2 {
            text-align: center;
            font-size: 22px;
            font-weight: bold;
        }

        p {
            line-height: 1.3em;
            font-size: 14px;
        }
    }

    #history {

        .entry {
            position: relative;
            margin-bottom: 10px;
            padding: 15px;

            &.paste p {
                margin-bottom: 0px;
            }

            .fill {
                position: absolute;
                display: block;
                left: 0;
                top: 0;
                bottom: 0;
                right: 0;
                background-color: #f3fdfd;
                border-radius: 5px;
                z-index: 0;

                &:hover {
                    opacity: 0.7;
                }
            }

            .grid {
                display: grid;
                grid-template-columns: 1fr; // TODO: 30px for delete button
                column-gap: 10px;

                * {
                    z-index: 1;
                }

                .details {
                    pointer-events: none;
                    overflow: hidden;

                    strong {
                        font-weight: bold;
                        color: black;
                    }

                    ul.file-list {
                        margin: 20px;
                        margin-bottom: 10px;

                        li {
                            margin-bottom: 10px;

                            &:last-child {
                                margin-bottom: 0;
                            }

                           .name {
                                white-space: nowrap;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                margin-bottom: 10px;
                                font-size: 14px;
                                line-height: 1.2em;
                                padding-top: 6px;
                            }

                            img {
                                float: left;
                                margin-right: 5px;
                            }
                        }
                    }
                }

                /* TODO: implement this
                .remove {
                    cursor: pointer;
                    padding: 5px;
                    border-radius: 3px;
                    color: #555;
                    background-color: #e1f9f9;
                    font-size: 20px;
                    height: 20px;

                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-content: center;
                    flex-direction: column;
                }
                */
            }
        }
    }

    #no-upload-history {
        text-align: center;
        font-size: 18px;
        margin: 30px;
    }

    #clear-history {
        display: inline-block;
        color: white;
        cursor: pointer;
        padding: 10px 30px;
        font-size: 16px;
        border-radius: 5px;
        background-color: #EB7F00;
        transition: background-color 0.1s;

        &:hover {
            background-color: #ff8e08;
        }
    }
}
