{{define "extraHead"}}
    <meta name="fluffy:metadata-url" content="{{.MetadataURL}}" />
    <link rel="stylesheet" href="{{.Meta.AssetURL "chroma.css"}}" />
{{end}}

{{define "content"}}
        <div
            id="highlightContainer"
            {{/* XXX: The JS requires this div to *only* contain the style-X class. */}}
            class="style-{{.DefaultStyle.Name}}"
        >
        {{template "highlightStart" .}}
        <div class="paste-toolbar">
            <div class="info">
                {{if eq (len .Texts) 1}}
                    {{len (index .Texts 0).LineNumberMapping}}
                    {{pluralize "line" (len (index .Texts 0).LineNumberMapping)}}
                    of
                {{end}}
                {{.Highlighter.Name}}
            </div>
            <a class="button" id="raw-text" href="{{.RawURL}}">
                Raw Text
            </a>

            <form method="POST" action="{{.Meta.Conf.HomeURL.String}}">
                <input type="hidden" id="copy-and-edit" name="text" value="{{.CopyAndEditText}}" />
                <input type="submit" class="button" value="Copy &amp; Edit" />
            </form>

            {{template "extraToolbar" .}}

			<div class="clearfix"></div>
        </div>
        <div id="paste">
            {{range $text := .Texts}}
                <div class="text-container">
                    {{if $.Highlighter.RenderAsRichText}}
                        <div class="text rich-text">
                            {{$.Highlighter.Highlight $text}}
                        </div>
                    {{else}}
                        <div class="line-numbers">
                            {{range $i, $numbers := $text.LineNumberMapping}}
                                <a class="{{range $numbers}}LL{{plusOne .}} {{end}}">{{plusOne $i}}</a>
                            {{end}}
                        </div>
                        <div class="text plain-text" contenteditable="true" spellcheck="false">
                            {{$.Highlighter.Highlight $text}}
                        </div>
                    {{end}}
                </div>
            {{end}}
        </div>
    </div>
{{end}}

{{define "inlineJS"}}
    <meta name="fluffy:metadata-url" content="{{$.MetadataURL}}" />

    <!-- TODO: can we factor out jQuery? -->
    <script integrity="sha256-cCueBR6CsyA4/9szpPfrX3s49M9vUU5BgtiJj06wt/s=" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js" crossorigin="anonymous"></script>
    {{.Meta.InlineJS "js/paste-inline.js"}}
{{end}}

{{define "highlightStart"}}
    <script>
        const preferredStyleVar = {{.PreferredStyleVar}};
    </script>
    {{.Meta.InlineJS "js/paste-inline-start.js"}}
{{end}}

{{define "extraToolbar"}}
    <select id="style">
        {{range $category := .Styles}}
            <optgroup label="{{$category.Name}}">
                {{range $style := $category.Styles}}
                    <option value="{{$style.Name}}" {{if eq $style.Name $.DefaultStyle.Name}}selected="selected"{{end}}>{{$style.Name}}</option>
                {{end}}
            </optgroup>
        {{end}}
    </select>

    <script>
        if (preferredStyle !== null) {
            document.getElementById('style').value = preferredStyle;
        }
    </script>

    {{if .Highlighter.RenderAsDiff}}
        <div class="pill-buttons" id="diff-setting">
            <div class="option selected" data-value="side-by-side">Side-by-Side</div>
            <div class="option not-selected" data-value="unified">Unified</div>
        </div>

        {{/*
            This is an inline script so that it can apply the right CSS before
            rendering the diff and avoid flashing the wrong diff style on load.
        */}}

        <script>
            const PREFERRED_DIFF_SETTING = 'preferredDiffSetting';

            const diffSetting = document.getElementById('diff-setting');
            const updateDiffSetting = (setting) => {
                localStorage.setItem(PREFERRED_DIFF_SETTING, setting);
                for (const child of diffSetting.children) {
                    if (child.getAttribute('data-value') === setting) {
                        child.classList.add('selected');
                        child.classList.remove('not-selected');
                    } else {
                        child.classList.remove('selected');
                        child.classList.add('not-selected');
                    }
                }

                const html = document.getElementsByTagName('html')[0];
                if (setting === 'side-by-side') {
                    html.classList.add('diff-side-by-side');
                    html.classList.remove('diff-unified');
                } else {
                    html.classList.remove('diff-side-by-side');
                    html.classList.add('diff-unified');
                }
            };

            if (hasLocalStorage && localStorage.getItem(PREFERRED_DIFF_SETTING) !== null) {
                updateDiffSetting(localStorage.getItem(PREFERRED_DIFF_SETTING));
            }

            for (const child of diffSetting.children) {
                child.onclick = () => updateDiffSetting(child.getAttribute('data-value'))
            }
        </script>
    {{end}}
{{end}}

{{template "base.html" .}}
