"""
Django settings for fluffy project.

For more information on this file, see
https://docs.djangoproject.com/en/1.6/topics/settings/

For the full list of settings and their values, see
https://docs.djangoproject.com/en/1.6/ref/settings/
"""

# Build paths inside the project like this: os.path.join(BASE_DIR, ...)
import os
BASE_DIR = os.path.dirname(os.path.dirname(__file__))


# Quick-start development settings - unsuitable for production
# See https://docs.djangoproject.com/en/1.6/howto/deployment/checklist/

# SECURITY WARNING: keep the secret key used in production secret!
SECRET_KEY = 'r9^h%2c05tb88t+4ritvoxe0r**1xtc!^yz+h@dpp$i#m%-12i'

# SECURITY WARNING: don't run with debug turned on in production!
DEBUG = True

TEMPLATE_DEBUG = True
TEMPLATE_DIRS = [os.path.join(BASE_DIR, 'fluffy/templates')]

ALLOWED_HOSTS = []


# Application definition

INSTALLED_APPS = (
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',
)

MIDDLEWARE_CLASSES = (
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.common.CommonMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
    'django.middleware.clickjacking.XFrameOptionsMiddleware',
)

ROOT_URLCONF = 'fluffy.urls'

WSGI_APPLICATION = 'fluffy.wsgi.application'


# Database
# https://docs.djangoproject.com/en/1.6/ref/settings/#databases

DATABASES = {}

# Internationalization
# https://docs.djangoproject.com/en/1.6/topics/i18n/

LANGUAGE_CODE = 'en-us'

TIME_ZONE = 'UTC'

USE_I18N = True

USE_L10N = True

USE_TZ = True

TEMPLATE_CONTEXT_PROCESSORS = ("django.contrib.auth.context_processors.auth",
	"django.core.context_processors.debug",
	"django.core.context_processors.i18n",
	"django.core.context_processors.media",
	"django.core.context_processors.static",
	"django.core.context_processors.tz",
	"django.contrib.messages.context_processors.messages",
	"fluffy.context_processors.constants")


# Static files (CSS, JavaScript, Images)
# https://docs.djangoproject.com/en/1.6/howto/static-files/

STATIC_URL = '/static/'
STATICFILES_DIRS = [os.path.join(BASE_DIR, "fluffy/static")]

# fluffy-specific configuration options
# storage backend (how are the files stored after being uploaded?)
#""" File backend
STORAGE_BACKEND = {
	"name": "file",
	"options": {
		# use {name} as a placeholder for the file name
		"file_path": "/tmp/{name}",
		"info_path": "/tmp/info-{name}.html"
	}
}
#"""

""" S3 CLI backend
STORAGE_BACKEND = {
	"name": "s3cli",
	"options": {
		# use {name} as a placeholder for the file name
		"file_name": "{name}",
		"info_name": "{name}.html",

		"file_s3path": "s3://fluffy-test/{name}",
		"info_s3path": "s3://fluffy-test/info/{name}.html",

		"tmp_path": "/tmp/{name}"
	}
}
"""

""" Debug backend
STORAGE_BACKEND = {
	"name": "debug",
	"options": None
}
"""

# URL patterns
HOME_URL = "http://fluffy.cc/"

# use {name} as a placeholder for the file name
FILE_URL = "http://i.fluffy.cc/{name}"
INFO_URL = "http://i.fluffy.cc/info/{name}.html"

# abuse contact email address
ABUSE_CONTACT = "abuse@example.com"

# max upload size per file (in bytes)
MAX_UPLOAD_SIZE = 10 * 1048576 # 10 MB

# trusted networks (requires netaddr package)
# prefix must be specified, for a single IPv4 use /32
TRUSTED_NETWORKS = (
	"127.0.0.0/8", # loopback
	"172.16.0.0/16"
)

# do trusted networks get to violate max file size?
TRUSTED_NOMAXSIZE = True
