Source: fluffy
Section: utils
Priority: extra
Maintainer: Chris Kuehl <ckuehl@ckuehl.me>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.7
Vcs-Git: https://github.com/chriskuehl/fluffy
Vcs-Browser: https://github.com/chriskuehl/fluffy
Homepage: https://github.com/chriskuehl/fluffy

Package: fluffy
Architecture: all
Depends: python3
Description: command-line tools for uploading to fluffy servers
 This package provides two command line scripts: fpb and fput.
 .
 fpb can be used to paste text to a fluffy server; fput is to upload files.
