#!/usr/bin/make -f
VERSION = $(shell python -c 'import fluffy_cli; print(fluffy_cli.__version__)')

%:
	# Specifying buildsystem manually because otherwise it tries to be
	# "smart" and use dh_python.
	dh $@ --buildsystem makefile

override_dh_auto_build: ;

override_dh_auto_test: ;

override_dh_install:
	mkdir -p debian/fluffy/usr/bin
	cp fluffy_cli/main.py debian/fluffy/usr/bin/fpb
	# This is pretty janky... we don't want to distribute the entire Python
	# package (because the path will differ across distributions, e.g.
	# /usr/lib/python3.4/dist-packages vs 3.5 vs 3.6) so we just insert it into
	# the file
	sed -i "s/^from fluffy_cli import __version__$$/__version__ = '$(VERSION)'/" debian/fluffy/usr/bin/fpb
	ln -s fpb debian/fluffy/usr/bin/fput
