body {
	background-color: #005178;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#container {
	width: 580px;

	margin: 100px auto;
	padding: 20px;

	border-radius: 5px;

	background-color: #ACF0F2;
}

h1, h2, h3, h4, h5, p {
	margin-bottom: 10px;
}

h1 {
	text-align: center;
	font-size: 72px;
	font-weight: bold;
	font-family: "Josefin Slab", "Open Sans", Helvetica, Arial, sans-serif;
	
	margin-bottom: 15px;
	color: #1695A3;
}
