body {
	background-color: #005178;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#container {
	width: 580px;

	margin: 100px auto;
	padding: 20px;

	border-radius: 5px;

	background-color: #ACF0F2;
}

h1, h2, h3, h4, h5, p {
	margin-bottom: 10px;
}

h1 {
	text-align: center;
	font-size: 72px;
	font-weight: bold;
	font-family: "Josefin Slab", "Open Sans", Helvetica, Arial, sans-serif;
	
	margin-bottom: 15px;
	color: #1695A3;
}

#fileHolder {
	padding: 15px;
	background-color: #F3FFE2;
	border-radius: 3px;
}

#files {
	margin-bottom: 15px;
}

#files:empty {
	margin-bottom: 0px !important;
}

#files li {
	background-color: #FFE6B3;
	margin-bottom: 10px;

	position: relative;
	height: 42px;
}

#files li img {
	position: absolute;
	left: 5px;
	top: 5px;
}

#files li .title {
	position: absolute;
	left: 40px;
	top: 14px;
}

#files li .remove {
	position: absolute;
	right: 8px;
	top: 8px;
	bottom: 8px;

	display: block;
	padding: 0px 10px;
	padding-top: 5px;
	cursor: pointer;

	background-color: #FFD694;
}

#dropZone {
	position: relative;

	border: dashed 4px #EB7F00;
	padding: 35px 20px;

	text-align: center;
	font-size: 26px;
	font-weight: bold;

	color: #EB7F00;

	margin-bottom: 10px;

	background-color: #F3FFE2;

	-webkit-transition: background-color 100ms linear;
	-moz-transition: background-color 100ms linear;
	-o-transition: background-color 100ms linear;
	-ms-transition: background-color 100ms linear;
	transition: background-color 100ms linear;
}

#dropZone input {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;

	opacity: 0;
}

#selectFile {
	display: block;
	cursor: pointer;
	border-radius: 3px;
	
	background-color: #EB7F00;
	color: white;

	padding: 10px;

	text-align: center;
}

.hiddenFileInput {
	display: none;
}
