{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>fluffy.cc</title>

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Slab:700|Open+Sans" />
		<link rel="stylesheet" href="{% static "css/reset.css" %}" />
		<link rel="stylesheet" href="{% static "css/site.css" %}" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
		<script src="{% static "js/site.js" %}"></script>
		<script src="{% static "js/home.js" %}"></script>
	</head>

	<body>
		<div id="container">
			<div id="content">
				<h1>fluffy.cc</h1>
				<div id="fileHolder">
					<ul id="files"></ul>
					<div id="dropZone">drop files here</div>
					<a id="selectFile">Browse</a>
				</div>
			</div>
		</div>
	</body>
</html>
