{% load staticfiles %}
<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />

		<title>{{ name }} &ndash; fluffy.cc</title>

		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Josefin+Slab:700|Open+Sans" />
		<link rel="stylesheet" href="{% static "css/reset.css" %}" />
		<link rel="stylesheet" href="{% static "css/site.css" %}" />
		<link rel="stylesheet" href="{% static "css/info.css" %}" />
	</head>

	<body>
		<div id="container">
			<div id="content">
				<h1><a href="{{ home_url }}">fluffy.cc</a></h1>
				<div id="file">
					<div id="detailHolder">
						<div id="icon">
							<img src="/static/img/mime/large/{{ extension }}.png" />
						</div>
						<div id="details">
							<h2>{{ name }}</h2>
							<p>{{ date }}</p>
							<p>{{ size }}</p>
						</div>
					</div>

					<a href="{{ download_url }}" id="download">Download</a>
				</div>
			</div>
		</div>

		{% include "footer.html" %}
	</body>
</html>
