body {
	background-color: #DDD;
	font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

#container {
	width: 580px;

	margin: 30px auto;
	padding: 20px;

	border: solid 4px #CCC;
	border-radius: 5px;

	background-color: #EEE;
}

h1, h2, h3, h4, h5, p {
	margin-bottom: 10px;
}

h1 {
	text-align: center;
	font-size: 72px;
	font-weight: bold;
	font-family: "Josefin Slab", "Open Sans", Helvetica, Arial, sans-serif;
	
	margin-bottom: 15px;
}

#fileHolder {
	border: solid 1px #222;
	padding: 15px;
}

#files {
	
}

#dropZone {
	border: dashed 4px #AAA;
	padding: 35px 20px;

	text-align: center;
	font-size: 26px;
	font-weight: bold;

	color: #CCC;

	margin-bottom: 10px;
}

#selectFile {
	display: block;
	cursor: pointer;
	border-radius: 3px;
	
	background-color: #DDD;
	color: #222;

	padding: 10px;

	text-align: center;
}
