<!doctype html>
<html class="page-details">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>Upload Details &ndash; fluffy.cc</title>

        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Josefin+Slab:700|Open+Sans" />
        <link rel="stylesheet" href="{{asset_url('app.css')}}" />
    </head>

    <body>
        <div id="container">
            <div id="content">
                <h1><a href="{{home_url}}">fluffy.cc</a></h1>
                <div id="files">
                    {% for file in uploads %}
                        <div class="file">
                            <div class="detailHolder">
                                <div class="icon">
                                    <img src="/static/img/mime/large/{{ file.extension|icon_for_extension }}.png" />
                                </div>
                                <div class="details">
                                    <h2>{{file.human_name|trim_filename(16)}}</h2>
                                    <p>
                                        <a href="{{file.download_url}}" class="download">Direct Link</a>
                                        &nbsp;&nbsp;  {{file.num_bytes|human_size}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% include "footer.html" %}
    </body>
</html>
