{% set page_name = 'details' %}
{# This templates gets uploaded as HTML to the CDN; #}
{# Debug mode will always give us invalid relative URLs. #}
{% set allow_debug = False %}

{% extends 'layouts/base.html' %}

{% block content %}
    <div id="files">
        {% for file in uploads %}
            <div class="file">
                <div class="detailHolder">
                    <div class="icon">
                        <img src="/static/img/mime/large/{{ file.extension|icon_for_extension }}.png" />
                    </div>
                    <div class="details">
                        <h2>{{file.human_name|trim_filename(16)}}</h2>
                        <p>
                            <a href="{{file.download_url}}" class="download">Direct Link</a>
                            &nbsp;&nbsp;  {{file.num_bytes|human_size}}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
