{% set page_name = 'details' %}

{% extends 'layouts/base.html' %}

{% block content %}
    <div id="files">
        {% for (file, pb) in uploads %}
            <div class="file">
                <div class="detailHolder">
                    <div class="icon">
                        <img src="{{asset_url('img/mime/large/' + (file.extension|icon_for_extension) + '.png')}}" />
                    </div>
                    <div class="details">
                        <h2>{{file.human_name|trim_filename(16)}}</h2>
                        <p>
                            <a href="{{file.download_url}}" class="download">Direct Link</a>
                            {% if pb %}
                                <a href="{{pb.url}}" class="view-paste">View Text</a>
                            {% endif %}
                            &nbsp;&nbsp;  {{file.num_bytes|human_size}}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
