{% set page_name = 'home' %}
{% extends 'layouts/base.html' %}

{% block content %}
    <div>
        <div class="fileUploadForm">
            <div id="file-holder">
                <p class="switch-modes js-only"><a>paste source code instead</a></p>

                <ul id="files"></ul>
                <a id="upload">Start Upload</a>

                <div id="advancedUpload" class="js-only">
                    <p id="statusText"></p>

                    <div id="selectFiles">
                        <div id="dropZone">drop files here</div>
                        <a id="selectFile">Browse</a>
                    </div>
                </div>
                <div id="basicUpload">
                    <p class="error" id="oldBrowserMessage">Your browser doesn't support dragging-and-dropping of files, so you're stuck with an icky file input. Bummer!</p>
                    <noscript><p class="error">Your browser has JavaScript disabled, which means you don't get cool features like dragging-and-dropping or upload progress meters. Bummer!</p></noscript>

                    <form action="/upload" method="POST" enctype="multipart/form-data">
                        <p style="margin-bottom: 0px;">
                            <label for="basicFormFile">File to Upload: </label><input id="basicFormFile" type="file" name="file" />
                            <input type="submit" name="upload" value="Upload File" />
                        </p>
                    </form>
                </div>
                <div id="loading"><p></p></div>
            </div>
        </div>

        <noscript>
            <hr />
            <style>
                .pastebinForm {
                    display: block !important;
                }
                .js-only {
                    display: none !important;
                }
            </style>
        </noscript>

        <form class="pastebinForm" method="POST" action="/paste">
            <p class="switch-modes js-only"><a>upload files instead</a></p>

            <p>
                <textarea id="text" name="text" placeholder="paste text here" required autofocus>{{text}}</textarea>
            </p>
            <p>
                <select name="language">
                    <option selected="selected" value="">Guess the language for me</option>
                    <option value="text">Plain text</option>
                    <option value="rendered-markdown">Markdown (rendered)</option>
                    <option disabled></option>

                    {% for lang_key, text in languages %}
                        <option value="{{lang_key}}">{{text}}</option>
                    {% endfor %}
                </select>
            </p>
            <input class="pasteButton" id="paste" type="submit" value="Paste" />
        </form>
    </div>
{% endblock %}

{% block inline_js %}
    <script>
        // determine whether to use basic or advanced upload form
        if (typeof FileReader != "undefined" &&
            "draggable" in document.createElement("span")) {
            document.getElementById("basicUpload").style.display = "none";
            document.getElementById("advancedUpload").style.display = "block";
        } else {
            document.getElementById("oldBrowserMessage").style.display = "block";
        }

        var icons = {
            {% for extension in icon_extensions %}
                {{extension | tojson | safe}}: {{asset_url('img/mime/small/' + extension + '.png') | tojson | safe}},
            {% endfor %}
        };

        var maxUploadSize = {{max_upload_size | tojson | safe}};
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="{{asset_url('js/home.js')}}"></script>
{% endblock %}

<!-- vim: ft=jinja
-->
