{% set page_name = 'paste' %}
{% extends 'layouts/text.html' %}

{% if highlighter.is_diff %}
    {% set extra_html_classes = "diff-side-by-side" %}
{% endif %}

{#
    Terminal output gets its own preferred theme setting, since many people
    seem to prefer a dark background for terminal output, but a light
    background for regular code.
#}
{% if highlighter.is_terminal_output %}
    {% set preferredStyleVar = 'preferredStyleTerminal' %}
    {% set defaultStyle = 'monokai' %}
{% else %}
    {% set preferredStyleVar = 'preferredStyle' %}
    {% set defaultStyle = 'default' %}
{% endif %}
{% block highlight_class %}highlight-{{defaultStyle}}{% endblock %}

{% block extra_head %}
    <link rel="stylesheet" href="{{asset_url('pygments.css')}}" />
{% endblock %}

{% block info %}
    {% if texts|length == 1 %}
        {{num_lines(texts[0].text)}} {{'line'|pluralize(num_lines(texts[0].text))}} of
    {% endif %}
    {{highlighter.name}}
{% endblock %}

{% block highlight_start %}
    <script>
        var preferredStyleVar = {{preferredStyleVar|tojson}};
    </script>
    {{inline_js('paste-inline-start.js')}}
{% endblock %}

{% block text %}
    {% for text in texts %}
        <div class="text-container">
            <div class="line-numbers">
                {% for i in range(1, num_lines(text.text) + 1) %}
                    {% if text.line_number_mapping %}
                        {% set line_numbers = text.line_number_mapping[i] %}
                    {% else %}
                        {% set line_numbers = [i] %}
                    {% endif %}
                    <a class="LL{{line_numbers|join(' LL')}}">{{i}}</a>
                {% endfor %}
            </div>
            <div class="text" contenteditable="true" spellcheck="false">
                {{highlighter.highlight(text.text, text.line_number_mapping)|safe}}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block extra_toolbar %}
    <select id="style">
        {% for category, styles in styles.items()|sort %}
            <optgroup label="{{category}}">
                {% for style in styles %}
                    <option
                      value="{{style.name}}"
                      {% if style.name == defaultStyle %}
                          selected="selected"
                      {% endif %}
                    >{{style.name}}</option>
                {% endfor %}
            </optgroup>
        {% endfor %}
    </select>

    <script>
        if (preferredStyle !== null) {
            document.getElementById('style').value = preferredStyle;
        }
    </script>

    {% if highlighter.is_diff %}
        <div class="pill-buttons" id="diff-setting">
            <div class="option selected" data-value="side-by-side">Side-by-Side</div>
            <div class="option not-selected" data-value="unified">Unified</div>
        </div>

        {#
            This is an inline script so that it can apply the right CSS before
            rendering the diff and avoid flashing the wrong diff style on load.
        #}
        <script>
            const PREFERRED_DIFF_SETTING = 'preferredDiffSetting';

            const diffSetting = document.getElementById('diff-setting');
            const updateDiffSetting = (setting) => {
                localStorage.setItem(PREFERRED_DIFF_SETTING, setting);
                for (const child of diffSetting.children) {
                    if (child.getAttribute('data-value') === setting) {
                        child.classList.add('selected');
                        child.classList.remove('not-selected');
                    } else {
                        child.classList.remove('selected');
                        child.classList.add('not-selected');
                    }
                }

                const html = document.getElementsByTagName('html')[0];
                if (setting === 'side-by-side') {
                    html.classList.add('diff-side-by-side');
                    html.classList.remove('diff-unified');
                } else {
                    html.classList.remove('diff-side-by-side');
                    html.classList.add('diff-unified');
                }
            };

            if (hasLocalStorage && localStorage.getItem(PREFERRED_DIFF_SETTING) !== null) {
                updateDiffSetting(localStorage.getItem(PREFERRED_DIFF_SETTING));
            }

            for (const child of diffSetting.children) {
                child.onclick = () => updateDiffSetting(child.getAttribute('data-value'))
            }
        </script>
    {% endif %}
{% endblock %}

{% block inline_js %}
    <!-- TODO: can we factor out jQuery? -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    {{inline_js('paste-inline.js')}}
{% endblock %}
